node_modules
dist
.tmp
bower_components
test/bower_components
.idea/workspace.xml
.idea/vcs.xml
.idea/toro-frontend.iml
.idea/modules.xml
.idea/copyright/profiles_settings.xml
.idea/workspace.xml
.idea/*
app/mobile/.idea/copyright/profiles_settings.xml
app/mobile/.idea/workspace.xml
app/mobile/.idea/modules.xml
app/mobile/.idea/*
