@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../../bower_components/font-awesome/css/font-awesome.min.css";

@import "base";
@import "component/component";

body {
  //background: mediumaquamarine;
}
