$menu-link-color: #FFFFFF;
$default-link-color: #FA1E64;

a {
    text-decoration: none;
    color: $default-link-color;
    &:hover, &:active, &:focus {
        text-decoration: none;
        color: $default-link-color;
    }
}

.navbar-menu {
    background: #222222;
    height: 75px;
    padding: 0;
    border-radius: 0px;
}

.menu {
    &__list {
        margin: 0 !important;
        &--link {
            color: $menu-link-color;
            height: 75px;
            line-height: 90px;
            padding: 5px 15px;
            &:hover, &:visited, &:active {
                color: $menu-link-color;
                background-color: #000000;
                text-decoration: none;
            }
            &.login-btn {
                color: $default-link-color;
            }
        }
    }
}

.menu__submenu {
    background: #070707;
    opacity: .8;
    margin: 0;
    border-radius: 0;
    li {
        width: 100% !important;
        padding: 0;
        a {
            display: block;
            color: $menu-link-color;
            text-decoration: none;
            padding: 15px !important;
            &:hover, &:visited, &:active {
                background-color: rgba(38, 38, 38, 1);
            }
        }
    }
}
