$latest-date-color: rgba(0, 0, 0, .4);
$latest-separator-color: #f1f1f1;
$latest-header-color: #FFC025;
$latest-details-color: rgba(0, 0, 0, .68);

.latest-news {
    &__header {
        display: inline-block;
        width: 100%;
        padding: 5px 0;
        margin-bottom: 15px;
        border-bottom: $latest-header-color 8px solid;
        p, h5 {
            margin: 0;
        }
        a {
            font-size: 2em;
        }
    }
    &__content {
        display: table;
        &--image {
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &--date {
            color: $latest-date-color;
        }
        &--headline {
            font-size: 1.2em;
        }
        &--details {
            color: $latest-details-color;
        }
    }
    &__separator {
        margin: 15px 0;
        border-bottom: $latest-separator-color 1px solid;
    }
    & .bottom-space {
        margin-bottom: 50px;
    }
}
