$meta_underline-color: #CCCCCC;
$update_text-color: $meta_underline-color;
$news-headline-color: #FA1E64;
$image-top-color: #FFC025;

.news-details {
    &__image {
        border-top: $image-top-color 8px solid;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__meta {
        font-size: 1.1em;
        margin-bottom: 15px;
        &--author {
            margin: 10px 0;
            border-bottom: $meta_underline-color 1px solid;
        }
        &--date {
            margin: 5px 0;
        }
        &--update {
            margin: 5px 0;
            font-size: .8em;
            color: $update_text-color;
            border-bottom: $meta_underline-color 1px solid;
        }
        &--tags {
            margin: 10px 0;
        }
    }
    &__headline {
        font-size: 2em;
        margin: 20px 0;
        color: $news-headline-color;
    }
    &__content {
        padding: 10px 0;
        &--quote:before {
            content: '//////////';
            color: #00bfff;
            font-size: 1.2em;
            font-weight: 700;
        }
    }
}

.relate-news {
    font-size: 1.2em;
    list-style: none;
    padding: 0;
    li {
        padding: 5px 0;
        &:before {
            content: "• ";
            color: $default-link-color; /* or whatever color you prefer */
        }
    }
}

.social-stay-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
