.footer {
    background: #333333;
    color: #FFFFFF;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    ul {
        list-style: none;
        padding: 0 !important;
        li {
            border-bottom: #444444 1px solid;
            a {
                display: block;
                padding: 15px;
                &:hover, &:focus, &:active {
                    text-decoration: none;
                }
            }
        }
    }
}

.footer-social {
    &--icon {
        color: #FFFFFF;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 1.3em;
        background-color: #0000AA;
        margin: 5px;
        &:hover, &:focus, &:active {
            color: #FFFFFF;
        }
        &__facebook {
            background: #3B5998;
        }
        &__twitter {
            background: #55acee;
        }
        &__pinterest {
            background: #DB5442;
        }
        &__google-plus {
            background: #dd4b39;
        }
    }
}
