.bg-color{
  background : #222;
}

.nav-dropdown{
  padding-top : 50px;
  &--position{
    display:inline;
    padding-left : 0;
  }
}

.navbar-logo{
  height: 50px;
  padding-left:15px;
}

.toggler{
  font-size:1.8em;
  border-radius : 5px;
  background-color: #333;
  padding:3px;
  margin-top: 6px;
  display:block;
}

.navbar-dropdown__li{
  border-top: 1px solid #333;
  list-style: none;
}

.navbar-dropdown__a{
  list-style: none;
  color: #FA1E64;
  display: block;
  line-height: 45px;
  padding : 0px 0px 0px 15px!important;
  &:hover ,&:focus{
    color: #FA1E64;
  }
}


.navbar-dropdown__a--collapse{
  color:white;
  background-color: #333;
  display:block;
  border-bottom: 1px solid #222;
  padding : 15px 0 ;
  &:hover ,&:focus{
    color: #fff;
    text-decoration:none;
  }

}


.chevron-icon{
  color:white;
  float:right;
  padding-right: 25px;
  padding-top: 15px;
}

.angle-right--icon{
  color:white;
  padding-left: 10px;
  padding-right: 10px;
}




